
h6{
    text-align: center;
}


#footer{
    border-top: 2px solid black ;
    margin-left: auto;
    position: relative;
    right: 0;
}
/* Bottom buttons */
.bottom-buttons {
    margin-left: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
} 



/* Styling for the name input */
#nameInput1, #nameInput2 {
    height: 40px;  /* Adjust input height */
    max-width: 300px; /* Adjust max width */
    margin-left: 10px;
    background-color: rgb(240, 240, 240);
}

#nameInput1::placeholder, #nameInput2::placeholder {
    font-style: italic;
    color: #aaa; /* Optional: Set a light color for better visibility */
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    
}

/* Layout adjustments */
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; 
}

.col-md-4,
.col-md-8 {
    flex: 1;
}

.col-md-4 {
    image-rendering: pixelated;
}

/* Player sections */
.player-section {
    margin-bottom: 0px; /* Space between the player 1 and 2 sections */
}

.player-section h4 {
    text-align: center;
    margin-bottom: 10px;
}

/* Adjust Player 2's position to the far right */
.player-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
}

.col-md-6 {
    width: 50%;
}

.col-md-6:last-child {
    text-align: right;  /* Align Player 2's content to the right */
}

